<?xml version="1.0"?>
<block>
  <name>WiFi Mapper</name>
  <key>frequencyAdaptiveOFDM_mapper</key>
  <category>[Frequency Adaptive OFDM]</category>
  <import>import frequencyAdaptiveOFDM</import>
  <make>frequencyAdaptiveOFDM.mapper($encoding, $debug, $log)</make>
  <callback>set_encoding($encoding)</callback>
  
  <param>
    <name>Encoding</name>
    <key>encoding</key>
    <value>[0, 0, 0, 0]</value>
    <type>int_vector</type>
  </param>

  <param>
    <name>Debug</name>
    <key>debug</key>
    <value>False</value>
    <type>bool</type>

    <option>
      <name>Enable</name>
      <key>True</key>
    </option>
    <option>
      <name>Disable</name>
      <key>False</key>
    </option>
  </param>

  <param>
    <name>Log</name>
    <key>log</key>
    <value>False</value>
    <type>bool</type>

    <option>
      <name>Enable</name>
      <key>True</key>
    </option>
    <option>
      <name>Disable</name>
      <key>False</key>
    </option>
  </param>

  <sink>
    <name>in</name>
    <type>message</type>
  </sink>

  <source>
    <name>out</name>
    <type>byte</type>
    <nports>1</nports>
  </source>
</block>
